html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
	font-family: 'titre';
	src: url(../txt/donutsking.otf);
}

@font-face {
	font-family: 'texte';
	src: url(../txt/redhands.ttf);
}





/*CONTENU DU MILIEU*/

h1{
    color: white;
    font-family: 'titre';
    font-size: 100px;
}

p{
    color: white;
    font-family: 'texte';
    font-size: 20px;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 100vw;
    height: 56.25vw;
}

.text-content{
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.halo {
  position: relative;
  display: inline-block;
}

.halo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px; /* taille du halo */
  height: 250px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 70%);
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
  z-index: 0;
}

.halo img {
  position: relative;
  width: 300px;
  height: auto;
  z-index: 1;
}






/*FLECHE*/

.fleche{
    width: 100px;
    position: fixed;
    bottom: 50px;
    right: 70px;
}

.fleche:hover{
        cursor: pointer;
        transform: scale(1.2);
        transition: 0.3s;
}





/*RESEAUX SOCIAUX*/

.size{
    width: 90px;
}

span{
    color: white;
}

#reseaux {
  position: fixed;
  bottom: 50px;
  left: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.reseau-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s ease;
  background-color: transparent;
  width: 90px;
}

.reseau-item:hover {
  width: 250px;
}

.reseau-item .info {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
  color: white;
  font-family: 'texte';
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.reseau-item:hover .info {
  opacity: 1;
}

.reseau-item2 {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s ease;
  background-color: transparent;
  width: 90px;
}

.reseau-item2:hover {
  width: 390px;
}

.reseau-item2 .info2 {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
  color: white;
  font-family: 'texte';
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.reseau-item2:hover .info2 {
  opacity: 1;
}

.style:hover{
    color: blue;
    text-decoration: underline;
}

.style:link{
    color: white;
    text-decoration: underline;
}

.style:visited{
    color: white;
    text-decoration: none;
}

.style:active{
    color: white;
    text-decoration: none;
}




/* RESPONSIVE */

@media screen and (max-width: 480px){
  .container{display: flex; flex-direction: column;}
  .main{height: 50vh;}
  .size{width: 40px;}
  #reseaux {left:auto; bottom: 150px; gap: 5px; display: flex; flex-direction: column; align-items:center; justify-content: center;}
  .reseau-item, .reseau-item2 {width: 200px; transition: none;}
  .reseau-item:hover,.reseau-item2:hover{width: 240px; transition: none;}
  .reseau-item .info,.reseau-item2 .info2 {white-space: nowrap; margin-left: 10px; color: white; font-family: 'texte'; font-size: 10px; opacity: 1; transition: none;}
  .fleche{width: 50px; position: fixed; bottom: 70px; left: 50%; transform: translateX(-50%);}
  .fleche:hover{transform: translateX(-50%); transition: none;}
}


@media screen and (min-width:481px) and (max-width:1024px){
  .size{width: 60px;}
  #reseaux{gap: 0px; left: 30px;}
  .reseau-item{width: 65px;}
  .reseau-item2{width: 65px;}
  .reseau-item .info, .reseau-item2 .info2{font-size: 13px;}
  .reseau-item:hover {width: 170px;}
  .reseau-item2:hover {width: 270px;}
  .fleche{width: 60px; right: 30px;}
  .fleche:hover{transform: none; transition: none;}
}

@media screen and (min-width:1025px) and (max-width:1366px){
  .size{width: 80px;}
  .reseau-item .info, .reseau-item2 .info2{font-size: 15px;}
  .reseau-item:hover {width: 210px;}
  .reseau-item2:hover {width: 320px;}
  .fleche{width: 80px;}

}
