html,body{
    margin: 0;
    padding: 0;
    background-color: black;
}

@font-face {
	font-family: 'titre';
	src: url(../txt/donutsking.otf);
}

@font-face {
	font-family: 'texte';
	src: url(../txt/redhands.ttf);
}





/*MENU*/

body.no-scroll {
  overflow: hidden;
}

.container-menu {
    width: 100%;
    height: auto;
    transition: height 0.3s ease;
}

.container-menu.open-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.btn
{
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  padding: 16px;
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.btn .bar1, .btn .bar2, .btn .bar3
{
  height: 4px;
  width: 100%;
  display: block;
  background: white;
}

.close-btn
{
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index:1000;
}

.close-btn .bar1
{
  transform: rotate(-130deg);
  height: 4px;
  width: 90%;
  display: block;
  background: #000000;
  position: absolute;
}

.close-btn .bar2
{
  display: none;
}

.close-btn .bar3
{
  transform: rotateZ(130deg);
  height: 4px;
  width: 90%;
  display: block;
  background: #000;
  position: absolute;
}

.menu
{
  display: none;
}

.menu.open-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.open-menu
{
  width: 100%;
  height: 100vh;
  background: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s all;
}

.open-menu ul
{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.open-menu ul li
{
  list-style: none;
  padding: 6px;
}

.open-menu ul li a
{
  text-decoration: none;
  font-size: 2vw;
  font-weight: 800;
  font-family: 'texte';
  color: black;
}

.open-menu ul li a:hover
{
  border-bottom: 8px solid #000;
  transition: 0.2s all;
}

.flecheBack{
  width: 80px;
  padding: 16px 0px 0px 30px;
}

.flecheBack:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
}

/*RESEAUX SOCIAUX*/

.size{
    width: 90px;
}

span{
    color: white;
}

#reseaux {
  position: fixed;
  bottom: 50px;
  left: 70px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.reseau-item {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s ease;
  background-color: transparent;
  width: 90px;
}

.reseau-item:hover {
  width: 250px;
}

.reseau-item .info {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
  color: white;
  font-family: 'texte';
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.reseau-item:hover .info {
  opacity: 1;
}

.reseau-item2 {
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.4s ease;
  background-color: transparent;
  width: 90px;
}

.reseau-item2:hover {
  width: 390px;
}

.reseau-item2 .info2 {
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
  color: white;
  font-family: 'texte';
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.reseau-item2:hover .info2 {
  opacity: 1;
}

.style:hover{
    color: blue;
    text-decoration: underline;
}

.style:link{
    color: white;
    text-decoration: underline;
}

.style:visited{
    color: white;
    text-decoration: none;
}

.style:active{
    color: white;
    text-decoration: none;
}





/*CONTENU DU MILIEU*/


#container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0px 50px 0px;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}

.box:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.richardPatry {
  background: url("../img/richardPatry.png");
  background-size: 180%;
  background-position: center;
  box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.crescendo {
  background: url("../img/crescendo.png");
  background-size: 180%;
  background-position: center;
  box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.work4green {
    background: url("../img/work4green.png");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.mss{
  background: url("../img/mss.png");
  background-size: 100%;
  background-position: center;
  box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.ecolosAnonymes {
    background: url("../img/lesEcolosAnonymes.png");
    background-size: 180%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.marlowe {
    background: url("../img/marlowe.png");
    background-size: 180%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.aufildElbeuf {
    background: url("../img/aufildElbeuf.jpg");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.atelierPhoto {
    background: url("../img/atelierPhoto.jpg");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.bikeRepair {
    background: url("../img/bikeRepair.png");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.productionGraphique {
    background: url("../img/prodGraphique.jpg");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

.ticolasExperience {
    background: url("../img/ticolasExperience.png");
    background-size: 100%;
    background-position: center;
    box-shadow: 6px 10px 20px rgba(255, 255, 255, 0.6);
}

/* RESPONSIVE */

@media screen and (max-width: 480px){
  .btn{height: 20px; width: 20px;}
  .btn .bar1, .btn .bar2, .btn .bar3{height: 2px;}
  .close-btn .bar1, .close-btn .bar3{width: 50%;}
  .open-menu ul li a{font-size: 5vw;}
  .open-menu ul li a:hover{border-bottom: none; transition: none;}
   .flecheBack{width: 30px; padding: 10px 0px 0px 20px;}

  #container{flex-flow: column nowrap; align-items: center; padding-top: 50px;}
  .box{height: 180px; width: 180px; border-radius: 22px;}
  .box:hover{transform: none; transition: none;}
  .richardPatry{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .crescendo{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .ecolosAnonymes{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .marlowe{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .mss{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .aufildElbeuf{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .atelierPhoto{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .bikeRepair{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .productionGraphique{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .ticolasExperience{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}

  .size{width: 50px;}
  #reseaux {position: static; margin: 30px 0px 20px 0px; gap: 8px; display: flex; flex-direction: row; justify-content: center;}
  .reseau-item, .reseau-item2 {width: 50px; transition: none;}
  .reseau-item:hover,.reseau-item2:hover{width: 50px; transition: none;}
}

@media screen and (min-width:481px) and (max-width:1024px){
  .btn{height: 40px; width: 40px;}
  .btn .bar1, .btn .bar2, .btn .bar3{height: 3px;}
  .close-btn .bar1, .close-btn .bar3{width: 60%;}
  .open-menu ul li a{font-size: 3vw;}
  .open-menu ul li a:hover{border-bottom: none; transition: none;}
  .flecheBack{width: 50px;}


  #container{gap: 10px; width: 80%; padding: 100px 0px 50px 0px;}
  .box{height: 150px; width: 150px; border-radius: 18px;}
  .box:hover{transform: none; transition: none;}
  .richardPatry{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .crescendo{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .ecolosAnonymes{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .marlowe{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .mss{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .aufildElbeuf{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .atelierPhoto{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .bikeRepair{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .productionGraphique{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}
  .ticolasExperience{box-shadow:3px 3px 20px rgba(255, 255, 255, 0.6);}

  .size{width: 60px;}
  #reseaux{gap: 5px; position: fixed; left: 30px; bottom: 20px;}
  .reseau-item, .reseau-item2 {width: 60px; transition: none;}
  .reseau-item:hover,.reseau-item2:hover{width: 60px; transition: none;}
}

@media screen and (min-width:1025px) and (max-width:1366px){
  .btn{height: 45px; width: 45px;}
  .btn .bar1, .btn .bar2, .btn .bar3{height: 4px;}
  .close-btn .bar1, .close-btn .bar3{width: 65%;}
  .open-menu ul li a{font-size: 2.5vw;}
  .flecheBack{width: 60px;}


  #container{gap: 15px; width: 70%; padding: 100px 0px 50px 0px;}
  .box{height: 200px; width: 200px; border-radius: 22px;}
  .richardPatry{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .crescendo{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .ecolosAnonymes{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .marlowe{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .mss{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .aufildElbeuf{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .atelierPhoto{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .bikeRepair{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .productionGraphique{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}
  .ticolasExperience{box-shadow:4px 4px 20px rgba(255, 255, 255, 0.6);}

  .size{width: 65px;}
  #reseaux{gap: 0px; left: 30px; bottom: 20px;}
  .reseau-item .info, .reseau-item2 .info2{font-size: 15px;}
}